@import "../mixins/index";
@import "../mixins/breakpoint";

.choice {
  background-color: #0263b2;

  padding: 55px 0;
}

.choice__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.choice__title {
  @include title(#fff, 36px, 54px, 0 0 40px);
  @include tablet {
    font-size: 32px;
    line-height: 44.8px;

    margin-bottom: 30px;
  }
  @include mobile {
    font-size: 27px;
    line-height: 35.8px;
  }
}

.consequences__item {
  margin-bottom: 25px;

  position: relative;

  display: flex;
}

.consequences__content-item {
  display: flex;
}

.consequences__content-icon {
  width: 4rem;
  height: auto;
  margin-right: 15px;

  @media (min-width: (481px)) {
    display: none;
  }
}

.consequences__item,
.choice__warning {
  background-color: #fff;
  border-radius: 10px;

  padding: 25px;
}

.consequences__icon {
  margin-right: 25px;

  @include mobile {
    display: none;
  }
}

.choice__warning {
  width: 100%;

  font-weight: bold;
  font-size: 18px;
  line-height: 150%;

  color: #1e3685;

  display: flex;
  align-items: center;

  @include mobile {
    line-height: 21.6px;
  }
  @include small-mobile {
    padding: 20px;
  }
}

.warning__icon {
  margin-right: 15px;
  transform: translateY(-3px);
}

.consequences__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;

  color: #b20237;

  margin-bottom: 10px;

  @include mobile {
    line-height: 21.6px;
  }
}

.consequences__title--black {
  color: black;
}

.consequences__text {
  font-size: 16px;
  line-height: 150%;

  color: black;

  @include mobile {
    line-height: 22.4px;
  }
}
