@import "../mixins/index";
@import "../mixins/breakpoint";

.reviews {
  padding: 55px 0 51px;
}

.reviews__title {
  @include title(black, 36px, 54px, 0 0 48px);
  @include tablet {
    font-size: 32px;
    line-height: 44.8px;

    margin-bottom: 30px;
  }
  @include mobile {
    font-size: 28px;
    line-height: 36.4px;
  }
}

.reviews__list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 36px;

  @include small-tablet {
    flex-wrap: wrap;
  }
}

.list__item {
  border-radius: 10px;
  background-color: rgba(230, 235, 245, 0.4);

  padding: 24px 54px 24px 24px;

  position: relative;

  @include small-tablet {
    flex: 1 1 33%;
  }
  @include mobile {
    flex: 1 1 100%;

    margin-bottom: 15px;
  }
}

.list__item:last-child {
  @include small-tablet {
    & > .list__text {
      max-width: unset;
    }

    margin-top: 15px;
  }
  @include mobile {
    & > .list__text {
      max-width: 26rem;
    }

    margin-top: 0;
  }
}

.list__item:not(:last-child) {
  margin-right: 16px;

  @include mobile {
    margin-right: 0;
  }
}

.list__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;

  color: #0263b2;

  margin-bottom: 10px;
}

.list__text {
  font-size: 16px;
  line-height: 150%;

  max-width: 26rem;

  color: black;

  margin-bottom: 48px;

  overflow-y: auto;
  max-height: 140px;
}

.list__text::-webkit-scrollbar {
  width: 3px;
  height: 7px;
  background-color: #dedede;

  border-radius: 3px;
}

.list__text::-webkit-scrollbar-thumb {
  background-color: #0263b2;
}

.list__data,
.list__author {
  color: #66727f;

  position: absolute;
}

.list__data {
  bottom: 24px;
  right: 24px;
}

.list__author {
  bottom: 24px;
  left: 24px;
}

.reviews__line {
  color: #e2e2e2;

  margin-bottom: 40px;
}

.reviews-btn {
  display: table;
  margin: 0 auto;
}
