@import "../mixins/index";
@import "../mixins/breakpoint";

.statistics {
  background-color: #0263b2;

  padding: 55px 0;
}

.statistics_inner {
  display: flex;
  justify-content: flex-start;
}

.statistics__title {
  @include title(#fff, 36px, 54px, 0 0 40px);
  @include tablet {
    font-size: 32px;
    line-height: 44.8px;

    margin-bottom: 30px;
  }
  @include mobile {
    font-size: 28px;
    line-height: 36.4px;
  }
}

.statistics__content {
  display: flex;

  @include small-tablet {
    display: block;
  }
}

.content__title {
  color: #fff;

  font-size: 18px;
  font-weight: 700;
  line-height: 27px;

  margin-bottom: 35px;

  @include mobile {
    line-height: 23.4px;

    margin-bottom: 15px;
  }
}

.content__text {
  max-width: 580px;
  width: 100%;

  font-size: 16px;
  line-height: 24px;

  color: #fff;

  margin-right: 50px;

  @include small-tablet {
    max-width: 100%;

    margin: 0 0 30px;
  }
  @include mobile {
    line-height: 22.4px;

    margin: 0 0 20px;
  }
  @include mobile {
    line-height: 19.6px;
  }
}

.content__list {
  display: flex;
  flex-wrap: wrap;
}

.content__item {
  flex: 0 1 50%;

  margin-bottom: 40px;

  display: flex;
  align-items: flex-start;
  @include small-mobile {
    flex: 0 1 100%;
    margin-bottom: 20px;

    &.mb-0:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.item__icon {
  margin-right: 24px;

  @include mobile {
    margin-right: 10px;
  }
}

.item__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;

  color: #fff;

  margin-bottom: 0;

  @include tablet {
    font-size: 24px;
    line-height: 36px;
  }
}

.item__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  color: #fff;

  margin: 0;

  max-width: 15rem;

  @include small-tablet {
    max-width: 100%;
  }
}

.mb-0 {
  margin-bottom: 0;
}
