<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer-top">
        <div class="footer__logo">@advoproverka</div>
        <nav class="nav">
          <a data-goto=".question" class="nav__link" href="#"
            >Как выбрать юриста?</a
          >
          <a data-goto=".statistics" class="nav__link" href="#">Статистика</a>
          <a data-goto=".reviews" class="nav__link" href="#">Отзывы</a>
          <a data-goto=".faq" class="nav__link" href="#">FAQ</a>
        </nav>
        <div class="footer__icons footer__icons-top">
          <a target="_blank" href="https://vk.com">
            <img src="img/svg/vk.svg" alt="" />
          </a>
          <a target="_blank" href="https://twitter.com">
            <img src="img/svg/twitter.svg" alt="" />
          </a>
          <a target="_blank" href="https://facebook.com">
            <img src="img/svg/facebook.svg" alt="" />
          </a>
          <a target="_blank" href="https://telegram.com">
            <img src="img/svg/telegram.svg" alt="" />
          </a>
        </div>
      </div>

      <div class="footer-medium">
        <div class="footer-medium-left">
          <div class="footer__addres">
            <img class="addres__icon" src="img/svg/location.svg" alt="" />
            <p>Москва, ул. Мастеркова, д.4</p>
          </div>
          <a href="#" class="footer__privacy">Политика конфиденциальности</a>
        </div>
        <div class="footer__tels">
          <div class="footer__icons footer__icons-medium">
            <a target="_blank" href="https://vk.com">
              <img src="img/svg/vk.svg" alt="" />
            </a>
            <a target="_blank" href="https://twitter.com">
              <img src="img/svg/twitter.svg" alt="" />
            </a>
            <a target="_blank" href="https://facebook.com">
              <img src="img/svg/facebook.svg" alt="" />
            </a>
            <a target="_blank" href="https://telegram.com">
              <img src="img/svg/telegram.svg" alt="" />
            </a>
          </div>
          <a href="tel:+74951180830" class="tels__item">+7 495 118-08-30</a>
          <a href="tel:+74951180830" class="tels__item">+7 495 118-08-30</a>
        </div>
      </div>
      <hr class="footer__line" />

      <div class="footer-bottom">
        <div class="footer__years">
          © АНО Национальная Рейтинговая Юридическая Система 2019–2021
        </div>
        <div class="footer__ogrn">ОГРН 1197700008835</div>
      </div>
    </div>
    <!-- /.header__inner -->
  </div>
  <!-- /.container -->
</footer>
