<head>
  <meta charset="UTF-8" />
  <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
  />
  <link rel="stylesheet" href="css/vendor.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Play:wght@700&display=swap"
    rel="stylesheet"
  />

  <!-- Useful meta tags -->
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="index, follow, noodp" />
  <meta name="googlebot" content="index, follow" />
  <meta name="google" content="notranslate" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="keywords" content="gulp css3 html5 bem scss adaptive" />
  <meta name="description" content="Simple Gulp App For Portfolio" />
</head>
