/* My mixins */
/* stylelint-disable */
body._lock {
  overflow: hidden;
}

.header {
  background: #1e3685;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #fff;
  padding-right: 10px;
  z-index: 30;
}
@media (max-width: 480px) {
  .header__logo {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 54, 133, 0.6);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #1e3685;
    z-index: 2;
  }
  .header__menu._active {
    left: 0;
  }
}

@media (max-width: 768px) {
  .header__menu-wrapper {
    background-color: #fff;
    height: 100%;
    width: 47%;
    padding: 130px 20px 60px;
    margin-left: auto;
  }
}
@media (max-width: 480px) {
  .header__menu-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .header__menu-wrapper > nav.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

nav.nav > a.nav__link {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
}
@media (min-width: 769px) {
  nav.nav > a.nav__link::after {
    position: absolute;
    bottom: -8px;
    left: 0;
    content: "";
    width: 100%;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    -o-transition: all 0.2s ease-in-out 0.2s;
    transition: all 0.2s ease-in-out 0.2s;
  }
  nav.nav > a.nav__link:hover::after {
    border: 1px solid #e0e0e0;
  }
}

header nav.nav > .nav__link {
  position: relative;
}
@media (max-width: 768px) {
  header nav.nav > .nav__link {
    color: black;
    margin: 0 0 40px;
    width: 100%;
    font-family: Play;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
  }
}

@media (max-width: 768px) {
  header nav.nav > .nav__link:not(:last-child)::after {
    position: absolute;
    bottom: -20px;
    left: 0;
    content: "";
    width: 100%;
    border: 1px solid #e0e0e0;
  }
}

.nav__link:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 768px) {
  .tel__wrapper {
    z-index: 30;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 480px) {
  .tel__wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.tel__wrapper-mobile > .header__tel {
  display: none;
  font-family: Play;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}
@media (max-width: 480px) {
  .tel__wrapper-mobile > .header__tel {
    display: block;
    color: black;
  }
}

.header__tel {
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 768px) {
  .header__tel {
    margin-right: 40px;
  }
}
@media (max-width: 480px) {
  .header__tel {
    display: none;
  }
}

.tel__icon {
  margin-right: 3px;
}

@media (max-width: 768px) {
  .header__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__icon::before, .header__icon::after, .header__icon span {
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .header__icon::before, .header__icon::after {
    content: "";
  }
  .header__icon::before {
    top: 0;
  }
  .header__icon::after {
    bottom: 0;
  }
  .header__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
    -ms-transform: scale(1) translate(0px, -50%);
    transform: scale(1) translate(0px, -50%);
  }
  .header__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
    -ms-transform: scale(0) translate(0px, -50%);
    transform: scale(0) translate(0px, -50%);
  }
  .header__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
    -ms-transform: rotate(-45deg) translate(0px, -50%);
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
    -ms-transform: rotate(45deg) translate(0px, 50%);
    transform: rotate(45deg) translate(0px, 50%);
  }
}
/*# sourceMappingURL=header.css.map */